---
import ProjectArticle from "./project-article.astro";

const projectArticles = [
    {
        image: "/projects/redesing-nicostudio.webp",
        title: "Agency landing Page",
        caption: "Redesing",
        url: "https://www.figma.com/file/x1ulswj5GqhSwWngkEw5pn/NicoStudio---LandingPage?type=design&node-id=0%3A1&mode=design&t=pOwY3DMahgoxiU5x-1",
    },
    {
        image: "/projects/dashboard-order-invoice.webp",
        title: "Dashboard customer orders (private)",
        caption: "Dashboard design and coding",
    },
    {
        image: "/projects/dashboard-vendors.webp",
        title: "Dashboard vendors (private)",
        caption: "Dashboard design and coding",
    },
];
---

<section
    class="container h-full mx-auto !max-w-7xl px-6 py-8 md:px-10 md:py-16 space-y-8 md:space-y-16"
>
    <header>
        <h3
            class="text-3xl md:text-4xl [text-wrap:balance] font-bold text-center"
        >
            Website and Webapps Showcases
        </h3>
    </header>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-x-10 gap-y-12">
        {projectArticles.map((item) => <ProjectArticle item={item} />)}
    </div>
</section>
