<section
    class="container h-full mx-auto !max-w-7xl px-6 py-8 md:px-10 md:py-16"
>
    <header class="text-center mx-auto mb-12">
        <h5 class="italic text-xl text-blue-600 mb-2">
            Front-end developer with knowledge in design
        </h5>
        <h3 class="text-4xl md:text-5xl">
            <span class="font-bold">Know a little</span>
            what I do
        </h3>
    </header>
    <div class="grid md:grid-cols-2 gap-x-6 my-4">
        <figure>
            <img
                src="/assets/images/ilustration-designer.svg"
                alt="ilustration-designer"
                class="w-fit"
            />
        </figure>
        <div class="my-auto">
            <div class="flex flex-col mb-8 gap-y-3">
                <h4 class="font-bold uppercase">FRONT-END DEVELOPER</h4>
                <p class="w-[60ch]">
                    Have knowledge of HTML, CSS & JavaScript (ES6), TypeScript
                    and experience with the one most popular frameworks (React).
                </p>
                <p class="w-[60ch]">Have built</p>
                <div class="flex gap-x-4">
                    <img
                        src="/assets/logos/html.svg"
                        alt="html-icon"
                        loading="lazy"
                    />
                    <img
                        src="/assets/logos/css.svg"
                        alt="css-icon"
                        loading="lazy"
                    />
                    <img
                        src="/assets/logos/javascript.svg"
                        alt="javascript-icon"
                        loading="lazy"
                    />
                    <img
                        src="/assets/logos/typescript.svg"
                        alt="typescript-icon"
                        loading="lazy"
                    />
                    <img
                        src="/assets/logos/react.svg"
                        alt="react-icon"
                        loading="lazy"
                    />
                </div>
            </div>
            <div class="flex flex-col gap-y-3">
                <h4 class="uppercase font-bold">DIGITAL DESIGNER</h4>
                <p class="w-[60ch]">
                    I proactively engage in communicating with the designers
                    before starting the coding phase, ensuring that all aspects
                    are clarified. This approach minimizes the need for
                    additional meetings, which can otherwise lead to project
                    delays.
                </p>
                <p>
                    I also do not hesitate to work out something in Figma
                    myself.
                </p>
                <figure>
                    <img
                        src="/assets/logos/figma.svg"
                        alt="figma-icon"
                        loading="lazy"
                    />
                </figure>
            </div>
        </div>
    </div>
</section>
